html {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

html.home {
    background-image: url("../images/cooking-background.gif");
}

html.contact {
    background-image: url("../images/bone-marrow.jpg");
}

html.about {
    background-image: url("../images/pasta.jpg");
}

html.recipes {
    background-image: url("../images/artichokesalad.jpg");
}

nav {
    background-color: firebrick;
}

.declaration,
.tagline {
    text-align: center;
}

.declaration {
    font-size: 96px;
}

.hero-image {
    margin-top: 300px;
}

.hero-search-wrap {
    text-align: center;
}

.input-text {
    padding: 0 10px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom: 2px solid #9e9e9e !important;
    margin-left: -10px!important;
}

.input-text:hover,
.input-text:focus,
.input-text:active {
    background-color: rgba(200, 200, 200, 0.2) !important;
    border-bottom: 2px solid firebrick !important;
    box-shadow: none !important;
    transition: all 0.2s ease-in-out !important;
}

.input-text#hero-search {
    width: 350px !important;
}

.input-submit {
    width: 10%;
    margin: 0 20px;
    background-color: firebrick;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.input-submit:hover {
    background-color: crimson;
    transition: background-color 0.2s ease-in-out;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: firebrick;
    color: white;
    text-align: center;
}

.firstname {
    margin-top: 100px;
}

.card {
    height: 50%;
    width: 80%;
    align-content: center;
    display: inline-block !important;
}

.card:hover {
    box-shadow: 1px 1px 10px 1px rgba(60, 60, 60, 0.6);
}

.container.content-container {
    background-color: white;
    color: black;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 1px 1px 10px 0px rgba(60, 60, 60, 0.6);
    margin-bottom: 70px;
    margin-top: 70px;
}

.recipe-filters-box {
    position: fixed;
    top: 100px;
    left: 80px;
    width: 300px;
    background-color: #e8e8e8;
    color: #333;
    border: 1px solid #555;
}

.filter-wrap {
    padding: 5px 10px;
    border-bottom: 1px solid #555;
}

.filter-wrap:last-of-type {
    border-bottom: none;
}

label {
    color: #333;
}